.primary-text {
  color: #85eb7d;
}

.second-text {
  color: #b4b4b4;
}

.primary-bg {
  background-color: #85eb7d;
}

.secondary-bg {
  background-color: #009efd;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .sidebar-heading a{
  color: #85eb7d;
  text-decoration: none;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#page-content-wrapper .box-count {
  border-radius: 20px !important;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

.avatar-large{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  margin: auto;
}

.avatar-large img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

.image-post{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #dcdcdc;
  border-radius: 10%;
  height: 4rem;
  width: 4rem;
  margin: auto;
  padding: 1rem;
}

.image-post img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
